.form {
  position: relative;
  list-style: none;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 5px solid rgb(98, 113, 128);
  color:  rgb(199, 208, 216);
  background-color:rgb(74, 93, 109);
  padding: 10px;
}
.nav-bar {
  display: flex;
  overflow: hidden;
  top: 0px;
  width: 100%;
}
.nav-bar1 {
  display: flex;
  list-style: none;
  width:30%;
  float: right;
  justify-content: space-between;
  margin:60px;
  color: black;
}
input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
 footer {
  height: 50px;
  background-color: rgba(130, 125, 128, 0.763);
  color: aliceblue;
  text-align: center;
}