.form {
  position: relative;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(74, 93, 109);
  color:  rgb(40, 55, 67);
  padding: 10px;
}
.nav-bar {
  display: flex;
  overflow: hidden;
  background-color: #726e6e;
  position: fixed;
  top: 0px;
  width: 100%;
}
.nav-bar1 {
  list-style: none;
  width: 4%;
  float: right;
  margin: 0% 1% 2% 2%;
  vertical-align:middle;
  text-align:right;
  align-items:baseline;
  height: 10px;
  margin-top: 0%;
  padding-top: 0%;
}
input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(130, 125, 128, 0.763);
  color: aliceblue;
  text-align: center;
}